* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #789DBC;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header {
    height: 5%;
}

h1 {
    font-size: 1.5rem;
}

table {
    width: 100%;
    height: 33%;
    border: 1px solid black;
    background-color: white;
}

th {
    text-transform: capitalize;
}

td {
    text-align: center;
    padding: 1rem;
}