* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 74, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    width: 960px;
    height: 75%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: white;
}

nav, section, footer, img, header {
    width: 100%;
}

header, footer {
    height: 30%;
    color: white;
    display: flex;  
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 52, 52);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

li {
    text-align: center;
    width: 25%;
    border: 1px dashed black;
    padding: 0.5rem;
    cursor: pointer;
}

li:hover {
    color: white;
    background-color: rgb(231, 67, 108);
    font-weight: bolder;
}

section {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

a:hover {
    color: white;
    text-decoration: none;
}

ul {
    margin: 1rem;
}

.info ul {
    list-style: none;
}

.info li {
    width: 100%;
}

table {
    width: 400px;
    text-align: center;
    background-color: rgb(168, 217, 236);
}

td {
    border: 1px solid black;
}

td > img {
    width: 50px;
    height: 50px;
}

/* Estilização da Página de Contato */

.contato {
    width: 50%;
    height: 75%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

fieldset {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 1rem;
}

.enviar {
    padding: 1rem;
}