* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

#nome {
    padding: 1rem;
    color: blue;
}

.info {
    width: 80%;
    height: 10%;
    background-color: lightblue;
}

ol {
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    list-style-type: upper-alpha;
}

h2:hover {
    color: white;
    background-color: blue;
}

li {
    text-align: center;
    width: 80%;
    margin: 1rem 0;
}

li > div > h2  {
    margin: 1rem    ;
    background-color: lightblue;
}

li > div > p {
    margin-bottom: 1rem;
}

.academico, .comp, .ss{
    width: 100%;
    padding: 1rem;
    border: 2px dashed black;
    background-color: lightgray;
}